<nav>
  <%= link_to t(:index), components_path %>
</nav>

<aside>
  <% if @component.errors.any? %>
  <section class='error'>
    <% @component.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>
</aside>

<article>
  <h2><%= t(:component_new) %></h2>
  <%= render 'form', component: @component %>
</article>
