<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= app.csrf_token %>">
    <title>KitchenLog</title>

    <style>
      @font-face {
        font-family: 'Fantasque Sans Mono';
        url('/static/fonts/FantasqueSansMono-Regular.otf') format('otf');
      }

      html, body, input, button, h1, h2, h3, h4, h5, h6, p {
        font-family: 'Fantasque Sans Mono';
        margin: 0;
        padding: 0;
      }

      form {
        display: inline;
        margin: 0;
        padding: 0;
      }

      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 320px;
        height: 100%;
        min-height: 320px;
        background-color: #fff;
        color: #000;
        font-family: 'Fantasque Sans Mono';
        font-size: 1em;
        overflow-x: hidden;
      }

      body {
        position: relative;
      }

      body > aside#dish {
        position: fixed;
        top: -20px;
        left: -80px;
        z-index: 2;
        margin: 10px;
        width: 250px;
        text-align: center;
        cursor: pointer;
      }

      body > #banner {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        margin: 10px;
        width: 80px;
        text-align: center;
        cursor: pointer;
      }

      body > #up {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 4;
        margin: 10px;
        width: 80px;
        text-align: center;
        cursor: pointer;
      }

      body > header {
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 50px;
        background-color: #fff;
        overflow: hidden;
        border-bottom: 1px solid #000;
        box-shadow: 0px 5px 10px 5px #333;
      }

      body > header h1 {
        font-size: 1.5em;
        margin: 0 10px 0 10px;
        line-height: 50px;
      }

      body > aside#background {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('https://vkitchen.herokuapp.com/assets/tile.png');
      }

      body > main {
        position: absolute;
        top: 50px;
        z-index: 2;
        width: 100%;
        background-color: transparent;
      }

      body > main > nav {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
        padding: 5px 20px 10px 20px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #000;
        box-shadow: 0px 5px 10px 5px #333;
      }

      body > main > article {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
        padding: 40px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #000;
        box-shadow: 0px 5px 10px 5px #333;
      }

      @keyframes slideout {
        0% {
          border: 1px solid #000;
          box-shadow: 2px 2px 5px 2px #fff;
          transform: translateX(0px);
        }
        25%  {
          border: 1px solid #000;
          box-shadow: 2px 2px 5px 2px #000;
          transform: translateX(0px);
        }
        50%  {
          border: 1px solid #000;
          box-shadow: 2px 2px 5px 2px #000;
          transform: translateX(-1200px);
        }
        100% {
          border: 1px solid #000;
          box-shadow: 2px 2px 5px 2px #000;
          transform: translateX(-1200px);
        }
      }

      body > main > article > div {
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #fff;
        box-shadow: 2px 2px 5px 2px #fff;
        padding: 20px;
        overflow: hidden;
      }

      body > main > article > div:not(.active) {
        border: 1px solid #000;
        box-shadow: 2px 2px 5px 2px #000;
        transform: translateX(-1200px);
        animation-name: slideout;
        animation-duration: 5s;
      }

      body > main > article > section.active {
        position: relative;
        z-index: 300;
        transform: translateX(0px);
      }

      body > main > nav {
      }

      form {
        display: inline;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
      }

      img {
        width: 200px;
      }

      form button[type=submit]:disabled > span:first-child,
      form button[type=submit]:not(:disabled) > span:last-child {
        display: none;
      }

      form button[type=submit]:not(:disabled) > span:first-child {
        display: block;
      }

      @media (min-width: 992px) {
        body > main {
          max-width: 992px;
        }
      }

      @media (max-width: 992px) {
        body > main > nav {
          margin-left: 0px;
          margin-right: 0px;
        }

        body > main > article {
          margin-left: 0px;
          margin-right: 0px;
        }
      }

      label.upload {
        position: relative;
        display: inline-block;
        height: 50px;
        width: 250px;
        border: 1px solid #000;
      }

      label.upload > input {
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      span.upload-custom {
        position: absolute;
        top: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      nav button {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #fff;
      }

      div.submenu {
        box-sizing; border-box;
        border-radius: 5px;
      }

      div.submenu > div:not(.active) {
        display: none;
      }

      div.submenu > div.active {
        display: block;
      }

      fieldset {
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid #000;
      box-shadow: none;
      appearance: none;
      }

      fieldset > div:first-child {
        flex-shrink: 0;
        flex-grow: 1;
      }

      fieldset > div:last-child {
        flex-shrink: 0;
        flex-grow: 0;
      }

      fieldset input,
      fieldset input:invalid,
      fieldset input:required,
      fieldset input:focus-visible,
      fieldset input:focus {
        font-size: 1.2em;
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        border: none;
        outline: none;
        box-shadow: none;
        appearance: none;
      }

      fieldset button,
      fieldset button:focus {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        outline: none;
        box-shadow: none;
        appearance: none;
      }
    </style>

    <script>
      let toogle = (target) => {
        document.querySelectorAll('div.submenu > div.active').forEach((element) => {
          element.classList.remove('active');
        });
        document.querySelector('div.submenu > div.' + target).classList.add('active');

        let input = document.querySelector('div.submenu > div.active input.focus');
        if (input) input.focus();
      };

      let signin = () => {
        let username = document.forms.username.input.value.trim();

        if (username.length < 6) {
          toogle('username');
          return;
        }

        toogle('password');
        document.forms.login.username.value = username;
      }

      let view = (data) => {
        window.setTimeout((e) => {
          document.querySelector('article > div').classList.add('active');
          document.querySelector('article > div').innerHTML = data;
        }, 2000);
      };

      let load = (e) => {
        e.preventDefault();
        e.target.submit.disabled = true;
        document.querySelector('article > div').classList.remove('active');
        window.app.open(e.target.action, e.target.method, new FormData(), view, console.log);
      };
    </script>
  </head>

  <body>
    <div id="banner" onclick="alert('About');">
      <img style="width:100%;" src="/static/icons/oneway.png" alt="Vegan Food">
    </div>

    <div id="up" onclick="window.scrollTo(0, 0);">
      <img style="width:50%;" src="/static/icons/arrow-circle-top.svg" alt="Up">
    </div>

    <header>
      <h1>KitchenLog</h1>
    </header>

    <aside id="dish">
      <img style="width:100%;" src="/static/icons/dish.png" alt="Dish">
    </aside>

    <aside id="background">
    </aside>

    <main>
      <nav>
        <div class="menu">
          <button onclick="event.preventDefault();toogle('recipes');">Recipes</button>
          <%= unless app.authenticated? do %>
            <button onclick="event.preventDefault();toogle('username');">Login</button>
          <% else %>
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf_token" value="<%= app.csrf_token %>">
              <button type="submit">Logout</button>
            </form>
          <% end %>
        </div>

        <div class="submenu">
          <div class="recipes active">
            <p><a href="">Inbound</a></p>
            <p><a href="">Top 10</a></p>
          </div>
          <div class="username">
            <form action="/login" method="post" name="username" onsubmit="event.preventDefault();signin();">
              <label>Username</label>
              <fieldset>
                <div><input class="focus" type="text" name="input" minlength="6" autocomplete="off" autofocus required></div>
                <div><button type="submit">Confirm</button></div>
              </fieldset>
            </form>
          </div>

          <div class="password">
            <form action="/login" method="post" name="login">
              <input type="hidden" name="_csrf_token" value="<%= app.csrf_token %>">
              <input type="hidden" name="username">
              <label>Password</label>
              <fieldset>
                <div><input class="focus" type="password" name="password" minlength="6" autocomplete="off" required></div>
                <div><button type="submit">Login</button></div>
              </fieldset>
            </form>
          </div>
        </div>
      </nav>

      <article>
        <div class="active">
          <section>
            <h1>Willkommen im KitchenLog</h1>
          </section>
        </div>
      </article>
    </main>
  </body>

  <script>
    let register = (e) => {
      e.preventDefault();
      let form = new FormData(e.target);
      fetch(e.target.action, { 'method': e.target.method
                             , 'body': form
                             , 'headers': { 'x-csrf-token': document.head.querySelector('meta[name=csrf-token]').content }
                             }).then(response => {

          if (!response.ok) {
            throw Error(response.text());
          } else {
            return response.json();
          }

        }).then(data => {
          console.log(data)
        }).catch(data => console.log(data));
    };

    let add_image = (e) => {
      e.preventDefault();
      let files = [];
      let form = e.target;
      let csrf_token = document.head.querySelector('meta[name=csrf-token]').content;
      console.log('using');
      console.log(csrf_token);

      form.submit.disabled = true;

      [...form.image.files].forEach((file, index) => {
        let data = new FormData();
        data.append('image', file);

        console.log(`${index + 1}/${form.image.files.length}`);
        console.log(file.name);
        console.log(file.type);
        console.log(file.size);

        files.push(new Promise((resolve, reject) => {

          if (file.size > 5242880) {
            return reject({ 'id': index, 'error': true, 'message': file.name + ' is oversized'});
          }

          fetch(form.action, { method: form.method
                             , body: data
                             , headers: { 'x-csrf-token': document.head.querySelector('meta[name=csrf-token]').content }
                             }).then(response => {

                               if (!response.ok) {
                                 throw Error(response.text());
                               } else {
                                 return response.text();
                               }

                             }).then(data => resolve(data)).catch(data => reject(false));
        }));
      });
        Promise.all(files).then(data => {
          let foo = document.getElementById('foo');
          data.forEach((b64) => {
            let img = new Image();
            img.src = b64;
            foo.appendChild(img);
          });
          console.log('uploads');
          form.reset();
          form.submit.disabled = false;
        }).catch(data => {
          console.log(data);
          form.submit.disabled = false;
        });
    };
  </script>

  <script type="module">
    import KitchenLog from '/static/scripts/kitchenlog.js';
    let csrf_token = document.head.querySelector('meta[name=csrf-token]').content;
    window.app = new KitchenLog(csrf_token);

    window.onload = (e) => {
      document.querySelector('article > div').classList.remove('active');
      window.app.open('<%= target %>', 'get', new FormData(), view, console.log);
    };
  </script>
</html>
