<nav>
  <%= link_to t(:index), vegetables_path(anchor: @vegetable.id) %>
</nav>

<aside>
  <% if @vegetable.errors.any? %>
  <section class='error'>
    <% @vegetable.errors.full_messages.each do |message| %>
      <p><%= message %><p>
    <% end %>
  </section>
  <% end %>
</aside>

<article>
  <h2>Editing Vegetable</h2>
  <%= render 'form', vegetable: @vegetable %>
</article>
