@font-face {
  font-family: 'DefaultPurisa';
  src: url('/assets/fonts/Purisa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'DefaultMono';
  src: url('/assets/fonts/DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DefaultSans';
  src: url('/assets/fonts/Alef-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DefaultSerif';
  src: url('/assets/fonts/Domine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#oneway {
  position: absolute;
  width: 100px;
  height: 133px;
  top: 5px;
  left: 770px;
  background-image: url("oneway.png");
  background-repeat: no-repeat;
  z-index: 10;
}

#dish {
  position: absolute;
  width: 235px;
  height: 235px;
  top: -100px;
  left: -30px;
  background-image: url("dish.png");
  background-repeat: no-repeat;
  z-index: 10;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family: 'DefaultSans';
  background-image: url("tile.png");
}

body > header {
  height: 20px;
  width: 100%;
}

body > #container {
  border: 1px solid #000; 
  padding: 10px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;

  background-color: #e9e9e9;
  background-image: url("book-section.png");
  background-repeat: repeat-y;
}

body > footer {
  height: 10px;
  width: 100%;
}

#container > header {
  padding: 10px;
  grid-area: head;
  opacity: .97;
  
  background: #d19d5b;
  text-align: center;
  border-top: 1px solid #888;
  border: 1px solid #888;

  header {
    margin: 5px 10px 10px 10px;

    h1 {
      font-family: DefaultPurisa;
      padding-bottom: 50px;
      margin: 0px;
      margin-bottom: -10px;
      background-image: url("knife.png");
      background-position: center bottom;
      background-size: 50%;
      background-repeat: no-repeat;
    }
  }

  nav {
    margin: 0px;
    padding: 0 10px 0 10px;

    ul {
      text-align: center;
      list-style-type: none;

      li {
        display: inline;

        a {
          display: inline-block;
          box-shadow: inset 0px 1px 0px 0px #a6827e;
          background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
          background-color:#7d5d3b;
          text-decoration: none;
          border-radius: 5px;
          border: 1px solid #54381e;
          cursor: pointer;
          color: #d19d5b;
          font-size: 16px;
          padding: 6px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #4d3534;
          margin: 5px 0 5px 0;
  
          &:hover {
            background:linear-gradient(to top, #634b30 5%, #7d5d3b 100%);
            background-color: #634b30;
          }
        }
      }
    }
  }
}

#container > #content {
  padding: 10px;
}

#container > footer {
  padding: 10px;
  height: 40px;
  grid-area: foot;
  opacity: .97;

  background-image: url("fork_knife.png");
  background-position: right center;
  background-size: 25%;
  background-repeat: no-repeat;

}

#content > nav {
  margin: 10px;
  grid-area: nav;
  background:linear-gradient(to top, #dddddd 5%, #eaeaea 100%);
  border: 1px solid #ddd;
  
  a {
    display: block;
    width: calc(100% - 10px);
    margin: 5px 0 5px 0;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: 0px solid #000;

    &::before {
      content: '• ';
    }

    &:hover {
      background:linear-gradient(to top, #dddddd 5%, #eaeaea 100%);
    }
  }
}

#content > aside {
  margin: 10px;
  grid-area: aside;

  section {
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;

    & + section {
      border-top: 0px dotted #000;
    }

    &.notice {
      p {
        text-align: left;
        color: green;
      }
    }

    &.alert {
      p {
        text-align: left;
        color: red;
      }
    }

    &.error {
      p {
        text-align: left;
        color: red;
      }
    }

    div.cloud {
      img {
        border: 1px solid #000;
        margin: 0;
        padding: 0px;
        width: calc(100% - 2px);
      }
    }
  }
}

#content > article {
  margin: 10px;
  grid-area: article;

  header {
    margin: 10px 0 10px 0;
    background-color: #dfdfdf;
    border: 1px solid #e2e2e2;
    border-radius: 3px;

    a {
      color: #674f35;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .image {
      grid-area: image;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin: 10px;
        width: calc(100% - 20px - 2.5px);
        border: 1px solid #efefef;
        box-shadow: 2.5px 2.5px #888;
        align-items: center;
        justify-content: center;
      }
    }

    .description {
      grid-area: description;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        margin: 10px;

        h3, p {
          text-align: center;
        }

        table {
          width: 100%;
          td {
            text-align: center;
          }
        }
      }
    }
  }

  form {
    fieldset {
      border: 1px solid #ddd;
      border-radius: 3px;
      background: linear-gradient(to bottom, #f6f6f6 5%, #fff 100%);
      background: linear-gradient(to top, #dddddd 5%, #eaeaea 100%);
      margin: 10px 0 10px 0;

      legend {
        padding: 10px;
        margin-left: 20px;
        font-weight: bold;
        border: 0px;
      }

      label {
        display: block;
      }

      textarea {
        width: 100%;
        height: 100px;
        min-height: 50px;
        max-height: 200px;
        resize: vertical;
      }

      input[type='text'],
      input[type='number'],
      input[type='email'],
      input[type='submit'],
      input[type='password'] {
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        padding: 5px;
        color: #888;
      }

      select {
        width: 100%;
      }

      div.field + div.field {
        margin-top: 10px;
      }
    }
  }
  
  section {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 10px;
 
    p {
      margin: 10px 0 10px 0;

      a {
        color: #674f35;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span + span::before {
        content: ', ';
      }
    }

    &:nth-child(odd) {
      background-color: #dfdfdf;
    }
  }

  footer {
    margin-top: 10px;

    p {
      margin: 5px 0 5px 10px;
      color: #674f35;
    
      &::before {
        content: '• ';
      }
    }

    a {
      color: #674f35;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    position: fixed;
    top: 50px;
    left: 905px;
    transform: rotate(90deg);
    transform-origin: 0% 100%;
    background-color: #eaeaea;
    padding: 5px 20px 5px 20px;
    border-top: 2px solid #afafaf;
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    font-size: 1.3em;
  }

  h3.recipe {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    background-image: url("toque.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}

.pagination {
  background: #eaeaea;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  text-align: center;
  padding: 1em;
  cursor: default;

  .previous_page {
    text-align: left;
  }
  
  .next_page {
    text-align: right;
  }

  a, span {
    padding: 0.2em 0.3em;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
  }

  .disabled {
    color: #aaaaaa;
  }
  
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #dfdfdf;
    padding: 2px;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
}

.search {
  form {
    text-align: center;

    input {
      width: 20%;
      height: 34px;
      border: 2px solid #888;
      border-left: 1px solid #888;
      background-color: #fff;
      color: #000;
      font-weight: bold;
      border-radius: 3px;
    }

    input#query {
      width: 70%;
      height: 22px;
      padding: 4px;
      border: 2px solid #888;
      border-right: 1px solid #888;
      background-color: #fff;
    }

  }
}

div.marker {
  display: flex;
  padding: 10px;
  border: 0px solid #000;
  background-color: rgba(50, 50, 50, 0.01);
  border-radius: 10px;
  box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;

  a {
    color: #674f35;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.markdown {
  font-family: 'DefaultSans';

  p {
    margin: 10px 0 10px 0;
  }
}
form[name='notepad'] {
  input[type='text'] {
    box-sizing: border-box;
    padding: 5px;
    background-color: #fff;
    border: 0px;
    line-height: 22px;
    width: 100%;
  }

  input[type='submit'] {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 3px;
  }
}
#notepad {
  border: 2px solid #888;
  border-radius: 3px;

  #list {
    p {
      margin: 0px;
      padding: 5px;
      background-color: #fff;
      border: 0px;
      line-height: 22px;
      width: auto;
    }
  }
}

@media screen and (min-width: 0px) {
  #dish { display: none; }
  #oneway { display: none; }
  section.cloud { display: none; }

  html, body {
    width: 550px;
  }

  body > #container {
    width: 490px;
    background-position: -470px 0;
  }
  
  #container > header {
    width: 450px;
  }

  #container > footer {
    width: 450px;
  }

  #container > #content {
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "head" "nav" "aside" "article" "foot";
    width: 450px;
  }

  #content > article {
    header {
      display: grid;
      grid-template-columns: 430px;
      grid-template-rows: auto auto;
      grid-template-areas: "image" "description";
    }
  }

  #content > article {
    h2 {
      left: 505px;
    }
  }
}

@media screen and (min-width: 1000px) {
  #dish { display: block; }
  #oneway { display: block; }
  section.cloud { display: block; }

  html, body {
    width: 1000;
  }

  body > #container {
    width: 890px;
    background-position: -70px 0;
  }
  
  #container > header {
    width: 850px;
  }

  #container > footer {
    width: 850px;
  }

  #container > #content {
    display: grid;
    grid-template-columns: 270px 50px 520px;
    grid-template-rows: 0em auto 1fr 0em;
    grid-template-areas: "head head head" "nav space article" "aside space article" "foot foot foot";
    width: 850px;
  }

  #content > article {
    header {
      display: grid;
      grid-template-columns: 200px 300px;
      grid-template-rows: auto;
      grid-template-areas: "image description";
    }
  }

  #content > article {
    h2 {
      left: 905px;
    }
  }
}
