* {
  margin: 0px;
  padding: 0px;
}

html {
  background-image: url("background.png");
  background-repeat: repeat;
}

body > header {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 0px;
  border: 2px solid #000;
  background-color: #d19d5b;
  text-align: center;
  grid-area: head;
}

body > #container  {
  display: grid;
  justify-items: start;
  align-items: start;
  background-image: url("book-section.png");
  background-repeat: repeat-y;
  border-top: 2px solid #000;
  padding-top: 20px;
}

fieldset {

  legend {
    padding: 10px;
    margin-top: -25px;
    margin-left: 20px;
    font-weight: bold;
    border: 0px;
    line-height: 1px;
  }

  div {
    margin: 10px;
  }

  div input {
    width: 96%;
  }

  div.actions {
    text-align: center;
  }

  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  margin-bottom: 30px;

}

body > footer {
  background-image: url("book-footer.png");
  background-repeat: no-repeat;
  height: 74px;
  grid-area: foot;
}

nav {
  grid-area: nav;
}

aside {
  width: calc(100% - 40px);
  border: 0px solid #000;
  grid-area: aside;
}

article {
  width: calc(100% - 40px);
  padding: 20px;
  min-height: 300px;
  border: 0px solid #000;
  grid-area: article;
}

#dish {
  position: absolute;
  width: 235px;
  height: 235px;
  top: -100px;
  left: -30px;
  background-image: url("dish.png");
  background-repeat: no-repeat;
}

#fork {
  position: absolute;
  width: 160px;
  height: 300px;
  top: 180px;
  left: 880px;
  background-image: url("fork.png");
  background-repeat: no-repeat;
}

#oneway {
  position: absolute;
  width: 100px;
  height: 133px;
  background-image: url("oneway.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 0px) {
  body > header {
    width: 360px - 2px;
    ul { padding-left: 0px; padding-right: 100px; }
    ul li+li:before { content: " | " }
  }

  body > #container  {
    grid-template-columns: 360px;
    grid-template-rows: 0em 0em auto 1fr 0em; 
    grid-template-areas: "head" "nav" "aside" "article" "foot";
    width: 360px;
  }

  body > footer {
    width: 360px;
  }

  aside {
    padding: 0px;
  }

  #oneway {
    top: 80px;
    left: 360px - 100px;
  }

  #kitcat { display: block; }
  #dish { display: none; }
  #fork { display: none; }
  .print { display: none; }
}

@media screen and (min-width: 1000px) {
  body > header {
    width: 185px + 195px + 600px - 2px;
    ul { padding-left: 100px; padding-right: 100px; }
  }

  body > #container  {  display: grid;
    grid-template-columns: 150px 230px 500px;
    grid-template-rows: 0em auto 1fr 0em;
    grid-template-areas: "head head head" "foobar nav article" "aside aside article" "foot foot foot";
    width: 185px + 195px + 600px;
  }

  body > footer {
    width: 1000px;
  }

  aside {
    padding: 20px;
  }

  #oneway {
    top: 10px;
    left: 185px + 195px + 600px - 120px;
  }

  #oneway { display: block; }
  #kitcat { display: block; }
  #dish { display: block; }
  #fork { display: block; }
}

@media print {
  body > header {
    width: 185px + 195px + 600px - 2px;
  }

  body > #container  {  display: grid;
    grid-template-columns: 150px 230px 500px;
    grid-template-rows: 0em auto 1fr 0em;
    grid-template-areas: "head head head" "foobar nav article" "aside aside article" "foot foot foot";
    width: 185px + 195px + 600px;
  }

  body > footer {
    width: 1000px;
  }

  nav, header, footer { display: none; }
  body footer { display: block; }
  #notice { display: none; }
  #oneway { display: none; }
  #kitcat { display: none; }
  #dish { display: none; }
  .print { display: block; }
}

h1 {
  font-family: Purisa;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

li {
  display: inline;
}

li.space {
  margin-right: 20px;
}


aside section {
  width: 254px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000;
}

article > h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

img {
  border: 2px solid #000;
  width: 250px;
}

#description {
  margin-top: 10px;
  margin-bottom: 10px;
}

#kitcat {
  float: left;
  text-align: center;
}

#kitcat > img {
  width: 100px;
  margin: 0px;
  padding: 0px;
}

aside section:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

aside section.notice p {
  text-align: center;
  color: green;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

aside section.alert p {
  text-align: center;
  color: red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

aside section.error p {
  text-align: center;
  color: red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.recipe {
  background-image: url("toque.png");
  background-repeat: no-repeat;
}

h2.recipe {
  background-size: 30px 30px;
  padding-left: 40px;
}

h3.recipe {
  background-size: 20px 20px;
  padding-left: 30px;
}

table {
  width: 100%;
}

th, td {
  vertical-align: top;
}

th {
  text-align: left;
  width: 300px;
}

td {
  text-align: center;
  width: 60px;
}

td:first-child, td:last-child {
  text-align: right;
}

article h2 {
  position: fixed;
  top: 140px;
  left: 975px;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
  background-color: #eaeaea;
  padding: 5px 20px 5px 20px;
  border-top: 2px solid #afafaf;
  border-left: 2px solid #afafaf;
  border-right: 2px solid #afafaf;
  font-size: 1.3em;
}

article section:nth-child(odd) {
  background-color: #e2e2e2;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr.change:nth-child(odd) {
  background-color: #e2e2e2;
}

article section.body p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shop {
  padding-left: 30px;
  background-image: url("shoppingcart.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

label {
  display: block;
}
